* {
  box-sizing: border-box;
}

header {
  height: 65px;
  background-color: #16a085;
}

#span-sair {
  float: right; 
  margin: 22px; 
  color: white;
}
#span-sair:hover {
  cursor: pointer;
  text-decoration: underline;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background: #fefefe;
  margin: 0;
}

#responsive-nav {
  display: none;
}

#admin-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


#responsive-nav + label {
  height: 65px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  font-size: 20px;
  background: white;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); */
  cursor: pointer;
  z-index: 3;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

aside {
  position: fixed;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: white;
  width: 260px;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo-area {
  width: 100%;
  height: 65px;
  border-bottom: solid 1px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
}

nav {
  width: 100%;
  height: 100%;
}
nav > a, nav label {
  padding: 20px 24px;
}
nav a, nav label {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #525252;
  cursor: pointer;
  font-weight: 500;
  transition: none;
}
nav a:hover, nav label:hover {
  background: #ebebeb;
}
nav label:before, nav label:after {
  content: '';
  float: right;
  width: 2px;
  height: 7px;
  background: #9e9e9e;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 4px;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
nav label:before {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
nav label:after {
  -webkit-transform: rotate(-50deg) translate(-6px, 1px);
          transform: rotate(-50deg) translate(-6px, 1px);
}

.wrap {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.wrap a {
  padding: 0 24px 0 34px;
  height: 0;
  font-weight: 400;
  transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  display: flex;
  align-items: center;
}

input[id^="nav-collapsible"] {
  display: none;
}
input[id^="nav-collapsible"]:checked + label {
  transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: #ebebeb;
}
input[id^="nav-collapsible"]:checked + label:before {
  -webkit-transform: rotate(-230deg) translate(5px, -5px);
          transform: rotate(-230deg) translate(5px, -5px);
}
input[id^="nav-collapsible"]:checked + label:after {
  -webkit-transform: rotate(50deg) translate(5px, -2px);
          transform: rotate(50deg) translate(5px, -2px);
}
input[id^="nav-collapsible"]:checked ~ .wrap {
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
input[id^="nav-collapsible"]:checked ~ .wrap a {
  height: 54px;
}

main {
  width: calc(100% - 260px);
  margin-left: 260px;
  height: 100%;
}

@media screen and (max-width: 1120px) {
  aside {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  main {
    width: 100%;
    margin-left: 0;
  }

  #responsive-nav + label {
    display: block;
  }
  #responsive-nav:checked + label {
    color:black;
    background: white;
    height: 65px;
  }
  #responsive-nav:checked ~ aside {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media only screen and (max-width: 700px) {
  #admin-logo {
    width: 75%;
    padding-left: 10px;
  }
  aside {
    width: 100%;
  }

  #responsive-nav + label {
    padding: 22px;
    font-size: 24px;
  }

}
