* {
  box-sizing: border-box;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

header {
  height: 45px;
  background-color: #00a65a;
  position: fixed;
  max-height: 100px;
  z-index: 1030;
  width: 100%;
}

#span-sair {
  float: right; 
  margin: 10px; 
  color: white;
}
#span-sair:hover {
  cursor: pointer;
  text-decoration: underline;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background: #fefefe;
  margin: 0;
}

#responsive-nav {
  display: none;
}

#admin-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


#responsive-nav + label {
  height: 45px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 14px 14px;
  font-size: 20px;
  background: white;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); */
  cursor: pointer;
  z-index: 1034;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
aside {
  margin-top: 45px;
  position: fixed;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: white;
  width: 230px;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.logo-area {
  width: 100%;
  height: 45px;
  border-bottom: solid 1px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #525252;
}

nav {
  width: 100%;
  height: 100%;
}
nav > a, nav label {
  padding: 13px 24px;
}

#nav-label.clicked {
  background-color: #16a085;
  color: white;
  transition-duration: 500ms;
}

.nome-marca {
  margin: 0 auto;
  width: 15%;
  height: 100%;
  text-align: center;
  font-size: 29px;
  float: left;
  color: white;
  display: block;
}

.nome-marca > span {
  font-weight: 100;
}

nav a, nav label {
  font-size: 14px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #777;
  cursor: pointer;
  font-weight: 500;
  transition: none;
  border-left: 3px solid transparent;
}
nav a:hover, nav label:hover {
  background: #ebebeb;
  color: #000;
}
nav label:before, nav label:after {
  content: '';
  float: right;
  width: 2px;
  height: 7px;
  background: #9e9e9e;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 4px;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
nav label:before {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
nav label:after {
  -webkit-transform: rotate(-50deg) translate(-6px, 1px);
          transform: rotate(-50deg) translate(-6px, 1px);
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transition: -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.wrap a {
  padding: 0 24px 0 34px;
  height: 0;
  font-weight: 400;
  transition: height 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  display: flex;
  align-items: center;
  color: #777 !important;
}

.wrap > a:hover {
  color: #000 !important;
}

.div-exemplo {
  height: 600px;
}

input[id^="nav-collapsible"] {
  display: none;
}
input[id^="nav-collapsible"]:checked + label {
  transition: background 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), color 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: #ebebeb;
  color: #000;
}
input[id^="nav-collapsible"]:checked + label:before {
  -webkit-transform: rotate(-230deg) translate(5px, -5px);
          transform: rotate(-230deg) translate(5px, -5px);
}
input[id^="nav-collapsible"]:checked + label:after {
  -webkit-transform: rotate(50deg) translate(5px, -2px);
          transform: rotate(50deg) translate(5px, -2px);
}
input[id^="nav-collapsible"]:checked ~ .wrap {
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
input[id^="nav-collapsible"]:checked ~ .wrap a {
  height: 45px;
}

main {
  background-color: #ecf0f5;
  width: calc(100% - 230px);
  margin-left: 230px;
  height: 100%;
}

#section-header {
  position: relative;
  padding: 15px 15px 0 15px;
  background: transparent;
}

#section-header > h1 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 24px;
}

@media screen and (max-width: 1120px) {
  aside {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  main {
    width: 100%;
    margin-left: 0;
  }

  #responsive-nav + label {
    display: block;
  }
  #responsive-nav:checked + label {
    color:black;
    background: white;
    height: 45px;
  }
  #responsive-nav:checked ~ aside {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header {
    padding-left: 55px;
  }
  #nav-label {
    z-index: 1034;
  }
  #admin-logo {
    width: 75%;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 700px) {
  header {
    padding-left: 55px;
  }
  #nav-label {
    z-index: 1034;
  }
  #admin-logo {
    width: 75%;
    padding-left: 10px;
  }
  aside {
    width: 100%;
    box-shadow: none;
  }

  #responsive-nav + label {
    /* padding: 22px; */
    font-size: 24px;
  }

}
