html, body{
    /* height: 100%; */
    height: fit-content;
}

body 
{
    margin: 0;
}


.main-section
{
    /* height: 100%; */
    height: fit-content;
    width: 100%;
}

#super-header{
    display: grid;
    grid-template-columns: 24% auto;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

@media  screen and (max-width: 1300px) {
    .small-hide{
        display: none;
    }
}

@media only screen and (max-width: 967px) {
    .xsmall-hide{
        display: none;
    }

    .search-box
    {
        width: 40% !important;
        margin-top: -5px !important;
    }
}

@media only screen and (max-width: 520px) {

    .search-box
    {
        /* width: 100% !important; */
        margin: -4px 0 0 0 !important;
    }
}

#blank-image
{
    height: 30em;
    object-fit: none;
    position: relative;
    right: -30%;
}

.internal-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}

.internal-section > .section-titulo{
    color: #a4a4a4;
}