html, body{
    height: -webkit-fill-available;
}

body 
{
    margin: 0;
}


.main-section
{
    height: 100%;
    width: 100%;
}

#blank-image
{
    height: 30em;
    object-fit: none;
    position: relative;
    right: -30%;
}

.internal-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.internal-section > .section-titulo{
    color: #a4a4a4;
}