
   .destaque-cards
   {
    display: grid;
    grid-template-columns: auto auto auto;
   }
  .card {
    display: inline-block;
    position: relative;
    /* margin-bottom: 10px; */
    /* margin: 10px 1em 10px 2em; */
    padding: 10px;
    width: 300px;
    height: 360px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    transform: scale(0.99);
    transition: .4s ease-in-out;
    z-index: 0;
  }
  .card:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1);
  }
  .card:hover .backdrop {
    top: 65%;
  }
  .card .backdrop {
    position: absolute;
    left: 50%;
    top: 75%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: linear-gradient(180deg, #8B3FD3 0%, #3F28DD 26.52%);
    transform: translateX(-50%);
    transition: top .4s ease-in-out;
    z-index: -1;
  }
  .card .content {
    padding: 5px 10px;
  }
  .card .content img {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 85%;
    transform: translateX(-50%);
  }
  .card .content h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
  }
  .card .action-buttons {
    position: absolute;
    display: flex;
    bottom: 10px;
  }
  .card .action-buttons .btn {
    margin: 0;
    padding: 8px 11px;
    border-radius: 8px;
    background: #f4f4f4;
    text-decoration: none;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.2);
    transition: color 250ms ease;
  }
  .card .action-buttons .btn:hover {
    background: #f0f0f0;
    color: rgba(0, 0, 0, 0.8);
  }
  .card .action-buttons.action-buttons--left {
    left: 10px;
  }
  .card .action-buttons.action-buttons--left a {
    margin-right: 5px;
  }
  .card .action-buttons.action-buttons--right {
    right: 10px;
  }
  .card .action-buttons.action-buttons--right a {
    margin-left: 5px;
  }
  